node_modules
save/*/*/*
!Cookies
save/*/*.*
save/*/DevToolsActivePort
save/*/SingletonLock
save/*/SingletonCookie
save/*/SingletonSocket
save/*/Local State
save/*/Last Version
concat.js
stats/*

saveCookie/
screenshot/